body {
    display: block;
    margin: 8px;
}
header {
    background-color: cyan;
    width: 100%;
    text-align: center;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.list li:nth-child(2){
    color: blue;
}
.image{
    box-sizing: border-box;
}
.images{
    display: flex;
    box-sizing: border-box;
    
}
.h3{
    color: rgb(245, 165, 17);
    font-size: 2rem;
    text-transform: uppercase;
}
footer li a:visited{
    color:rgb(126, 155, 126); 
}
footer li a:hover{
    color:red; 
}
.box-model p:only-of-type{
    padding: 5px;
    margin: 10%;

}
.box-model img:only-of-type{
    padding: 5px;
    margin: 10%;

}